@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gradient: linear-gradient(-45deg, rgb(64, 93, 230), rgb(88, 81, 219),rgb(131, 58, 180),
                                        rgb(193, 53, 132), rgb(225, 48, 108),rgb(253, 29, 29),
                                        rgb(245, 96, 64), rgb(247, 119, 55),rgb(252, 175, 69),
                                        rgb(255, 205, 75), rgb(197, 255, 56), rgb(81, 255, 0));
  }

@font-face {
    font-family: "f";
    src: url(./assets/f);
}

@keyframes ch-animation {
    /* 0% {background-position: left} */
    45% {background-position: right}
    /* 90% {background-position: left} */
}

.ch {
  /* background: #ddd; */
  background-size: 300%;
  background-image: var(--gradient);
  animation: ch-animation 5s infinite;
}

*{
    font-family: "MontSerrat", sans-serif;
}